<%= turbo_frame_tag "transcription_status" do %>
  <div class="bg-gray-100 rounded-xl px-6 py-4">
    <% if video.transcription_status == 'ready' %>
      <h3 class="text-2xl font-bold mb-8 tracking-tight">Here are your transcripts:</h3>

        <div class="flex justify-between items-center mb-4">
          <nav class="flex space-x-4" aria-label="Tabs">
            <%= link_to "JSON", show_json_path(video), 
                data: { turbo_frame: "transcript_status", turbo_action: "replace" }, 
                class: @active_tab == 'json' ? 'tab-button-active' : 'tab-button' %>

            <%= link_to "WebVTT", show_webvtt_path(video), 
                data: { turbo_frame: "transcript_status", turbo_action: "replace" }, 
                class: @active_tab == 'webvtt' ? 'tab-button-active' : 'tab-button' %>

            <%= link_to "SRT", show_srt_path(video), 
                data: { turbo_frame: "transcript_status", turbo_action: "replace" }, 
                class: @active_tab == 'srt' ? 'tab-button-active' : 'tab-button' %>
          </nav>

          <% if @transcript_url %>
            <a href="<%= @transcript_url %>">
              <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                <path stroke-linecap="round" stroke-linejoin="round" d="M9 8.25H7.5a2.25 2.25 0 00-2.25 2.25v9a2.25 2.25 0 002.25 2.25h9a2.25 2.25 0 002.25-2.25v-9a2.25 2.25 0 00-2.25-2.25H15M9 12l3 3m0 0l3-3m-3 3V2.25" />
              </svg>
            </a>
          <% end %>

        </div>

        

        <%= turbo_frame_tag :transcript_content, src: "#{transcript_content_path()}?url=#{@transcript_url}", loading: :lazy do %>
          <div class="mb-16"><pre class="h-[360px]">
            <svg class="animate-spin -ml-1 mr-3 h-5 w-5 text-gray-800" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24">
              <circle class="opacity-25" cx="12" cy="12" r="10" stroke="currentColor" stroke-width="4"></circle>
              <path class="opacity-75" fill="currentColor" d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.962 7.962 0 014 12H0c0 3.042 1.135 5.824 3 7.938l3-2.647z"></path>
            </svg>
          </pre></div>
        <% end %>
    <% else %>

      <div class="">
        <% if video.transcription_status == 'waiting' %>
          <div class="flex items-center">
          <svg class="animate-spin -ml-1 mr-3 h-5 w-5 text-gray-800" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24">
            <circle class="opacity-25" cx="12" cy="12" r="10" stroke="currentColor" stroke-width="4"></circle>
            <path class="opacity-75" fill="currentColor" d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.962 7.962 0 014 12H0c0 3.042 1.135 5.824 3 7.938l3-2.647z"></path>
          </svg>
          <h3 class="text-2xl font-bold tracking-tight">
            Preparing...
          </h3>
          </div>
          <p>This might take a minute</p>
        <% elsif video.transcription_status == 'transcribing' %>
          <div class="flex items-center">
            <svg class="animate-spin -ml-1 mr-3 h-5 w-5 text-gray-800" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24">
              <circle class="opacity-25" cx="12" cy="12" r="10" stroke="currentColor" stroke-width="4"></circle>
              <path class="opacity-75" fill="currentColor" d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.962 7.962 0 014 12H0c0 3.042 1.135 5.824 3 7.938l3-2.647z"></path>
            </svg>
          <h3 class="text-2xl font-bold tracking-tight">
            Transcribing...
          </h3>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
<% end %>
