<!DOCTYPE html>
<html>
  <head>
    <title>BoldTranscribe</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>

    <%= javascript_importmap_tags %>
    <script src="https://cdn.jsdelivr.net/npm/@mux/mux-player"></script>
    <script
      type="module"
      src="https://cdn.jsdelivr.net/npm/@mux/mux-uploader@latest/dist/mux-uploader.mjs"
    ></script>

  </head>

  <body>
    <header class="container mx-auto h-16 flex items-center">
      <a href="/">transcribe.bold.video</a>
    </header>
    <main class="container mx-auto mt-4 px-5 flex flex-col">
      <%= yield %>
    </main>
    <script type="module">import "video_uploader"</script>
  </body>
</html>
